:root {
    font-family: "Oswald", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #ccc; 
}

::-webkit-scrollbar-thumb {
    background: #187ab3; 
}

::-webkit-scrollbar-thumb:hover {
    background: #116392;
}