.cart__container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.cart__title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 1px solid #007BFF;
}

.cart__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart__book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #cfcfcf;
    gap: 10px;
}

.cart__book:last-child {
    border-bottom: none;
}

.cart__book-title {
    font-size: 1.1em;
    font-weight: bold;
    flex: 2;
    color: #333;
}

.cart__quantity-controls {
    display: flex;
    align-items: center;
}

.cart__book-button {
    background-color: #007BFF;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 5px;
}

.cart__amount {
    display: flex;
    gap: 10px;
}

.cart__amount-title {
    font-weight: 400;
}

.cart__book-button--amount {
    background-color: #e2e1e1;
    font-weight: bold;
}

.cart__book-button--amount:hover {
    background-color: #bbbbbb;
}

.cart__book-button--remove {
    font-weight: 400;
    color: white;
    background-color: #f44336e5;
    margin-left: 10px;
}

.cart__book-button--remove:hover {
    background-color: #b63535;
}

.cart__book-quantity {
    font-size: 1em;
    text-align: center;
    width: 40px;
}
