.carts__container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.carts__title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    padding-bottom: 14px;
    border-bottom: 1px solid #007BFF;
}

.carts__button {
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 5px;
}

.carts__button--new {
    background-color: #177bb4;
    border-radius: 6px;
    padding: 10px 100px;
}

.carts__button--new:hover {
    background-color: #116596;
}

.carts__button--cart {
    background-color: transparent;
    color: #177bb4;
    outline: auto;
    padding: 10px 70px;
}

.carts__button--cart:hover {
    background-color: #07344e;
}

.carts__button--remove {
    border-radius: 3px;
    background-color: #dc3545;
    padding: 4px 6px;
    color: white;
}

.carts__button--remove:hover {
    background-color: #af1e2c;
}

.carts__list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.carts__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 14px;
    border-bottom: 1px solid #ccc;
}
