.header__container {
    position: fixed;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 2;
    padding: 20px;
    background-color: #136696;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__main {
    display: flex;
    margin: auto 80px;
    justify-content: space-between;
}

.header__logo-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo__text {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}