.group__container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
}

.group__subtitle {
    margin-bottom: 10px;
    font-weight: bold;
}

.group__paragraph {
    margin-bottom: 5px;
}

.group__paragraph-line {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.group__copies {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    height: 190px;
    overflow-y: auto;

}