.aside__main {
    transition: transform 0.3s ease;
    position: fixed;
    right: 0;
    top: 70px;
    width: 300px;
    height: 90%;
    background: #f4f4f4;
    border-left: 1px solid #ddd;
    transform: translateX(100%);
    z-index: 2;
    overflow-y: auto;
}
  
.aside__main-visible {
    transform: translateX(0);
}
  
.aside__main-hidden {
    transform: translateX(100%);
}

.aside__button {
    width: 50%;
    color: white;
    background-color: #0f5177;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.4s;
}

.aside__button-active {
    background-color: #187ab3;
    width: 60%;
}

.aside__button-disabled {
    width: 40%;
}