.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 90%;
    height: 90%;
    overflow-y: auto;
}

.modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    padding: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s;
}

.modal-close-button:hover {
    background: rgb(156, 0, 0);
}